<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyy.mapper.ActivityMapper">
    <insert id="insert">
        insert into activity (create_user, location_id, region_id, radius, title, start_time, end_time, description,
                              create_time, update_time)
        values (#{createUser}, #{locationId}, #{regionId}, #{radius}, #{title}, #{startTime}, #{endTime}, #{description},
                #{createTime}, #{updateTime});
    </insert>
    <select id="listQuery" resultType="com.zyy.entity.Activity">
        select * from activity
        <where>
            <if test="createName != null">
                and create_name like concat('%', #{createName}, '%')
            </if>
            <if test="title != null">
                and title like concat('%', #{title}, '%')
            </if>
            <if test="startTime != null">
                and start_time >= #{startTime}
            </if>
            <if test="endTime != null">
                and end_time &lt;= #{endTime}
            </if>
        </where>
    </select>
</mapper>