<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyy.mapper.ActivityMapper">

    <sql id="selectAll">
        select id, create_user, radius, title, start_time, end_time, description, create_time, update_time from activity
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into activity (create_user, radius, title, start_time, end_time, description,
                              create_time, update_time)
        values (#{createUser}, #{radius}, #{title}, #{startTime}, #{endTime}, #{description},
                #{createTime}, #{updateTime});
    </insert>

    <select id="selectById" resultType="com.zyy.entity.Activity">
        <include refid="selectAll"/>
        where id = #{id}
    </select>

    <select id="listQuery" resultType="com.zyy.entity.Activity">
        <include refid="selectAll"/>
        <where>
            <if test="createName != null">
                and create_name like concat('%', #{createName}, '%')
            </if>
            <if test="title != null">
                and title like concat('%', #{title}, '%')
            </if>
            <if test="startTime != null">
                and start_time >= #{startTime}
            </if>
            <if test="endTime != null">
                and end_time &lt;= #{endTime}
            </if>
        </where>
    </select>

    <update id="update">
        update activity
        <set>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="radius != null">radius = #{radius},</if>
            <if test="title != null">title = #{title},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="description != null">description = #{description},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <select id="listByLocation" resultType="com.zyy.vo.ActivityListByLocationVO">
        select a.id, u.name as createName, ST_Distance(l.geom::geography, ST_SetSRID(ST_MakePoint(#{longitude}, #{latitude})::geography, 4326)) as distance,
               a.radius, a.title, a.start_time, a.end_time, a.description
        from activity a
        left join location l on a.id = l.activity_id
        left join "user" u on a.create_user = u.id
        order by distance
    </select>
</mapper>